.main-content {
	position: relative;
    margin-left: 15rem;
    @media (max-width: 991.98px) {
        margin-left: auto;
    }
    .header-body {
        width: 100%;
        margin: 10rem 0;
        background: #fff;
        color: black;
        padding: 1rem 2.5rem;
        border-radius: 0.4375rem;
        min-height: 56rem;
        @media (max-width: 575.98px) {
            padding: 1rem .5rem;
        }
        @media (max-width: 991.98px) {
            min-height: auto;
            margin: 12rem 0;
        }
    }
}

/*welcome*/
.welcome-banner{
    h5{
        font-weight: 600;
    }
}
.welcome-counting{
    @include flexCenter;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .count-single{
        width: 20%;
        padding: 3rem;
        margin: 3rem 2rem 0 2rem;
        border-radius: 0.8rem;
        background-color: var(--fc2);
        @media (max-width: 991.98px) {
            width: 90%;
        }
        span{
            font-family: $ff2;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

/*content-table*/
.collections{
    padding: 2rem 0 10rem 0;
    .service--table{
        .service--card{
            padding: 0 1rem;
            border-radius: .625rem;
            .card--title{
                padding: 0 0 1rem 0;
                p{
                    @media (min-width: 576px) and (max-width: 767.98px) {
                        font-size: 0.72rem;
                    }
                    
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        font-size: 0.72rem;
                    }
                }
            }
            .card--data{
                border-radius: 0.4rem;
                .profile{
                    @include flexCenter;
                    justify-content: flex-start;
                    .platform--icon{
                        @include flexCenter;
                        padding: 1rem;
                        width: 4rem;
                        height: 4rem;
                        @media (max-width: 575.98px) {
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                        @media (min-width: 768px) and (max-width: 991.98px) {
                            width: 3.5rem;
                            height: 3.5rem;
                        }
                    }
                }
                .platform{
                    @media (max-width: 575.98px) {
                        position: relative;
                    }
                    p{
                        @media (max-width: 575.98px) {
                            font-size: 1.2rem;
                        }
                        @media (min-width: 576px) and (max-width: 767.98px) {
                            font-size: .8rem;
                        }
                        @media (min-width: 768px) and (max-width: 991.98px) {
                            font-size: .8rem;
                        }
                        @media (min-width: 992px) and (max-width: 1299.98px) {
                            font-size: 1.125rem;
                        }
                    }
                }
                .label{
                    @include flexCenter;
                    justify-content: flex-start;
                    p{
                        background: var(--fc2);
                        padding: .3rem .5rem;
                        border-radius: 0.3rem;
                        text-transform: uppercase;
                        @media (min-width: 576px) and (max-width: 767.98px) {
                            font-size: .8rem;
                        }
                        @media (min-width: 768px) and (max-width: 991.98px) {
                            font-size: .8rem;
                        }
                    }
                }
                .traffic{
                    @include flexCenter;
                    justify-content: flex-start;
                    p{
                        @media (min-width: 576px) and (max-width: 767.98px) {
                            font-size: 1rem;
                        }
                        @media (min-width: 768px) and (max-width: 991.98px) {
                            font-size: 1rem;
                        }
                    }
                }
                .price{
                    @include flexCenter;
                    justify-content: flex-start;
                    p, button{
                        background-color: transparent;
                        border: none;
                        @media (max-width: 575.98px) {
                            font-size: 1.2rem;
                        }
                        @media (min-width: 576px) and (max-width: 767.98px) {
                            font-size: 1rem;
                        }
                        @media (min-width: 768px) and (max-width: 991.98px) {
                            font-size: 1rem;
                        }
                        @media (min-width: 992px) and (max-width: 1299.98px) {
                            font-size: 1.125rem;
                        }
                        span{
                            text-transform: uppercase;
                            @media (max-width: 575.98px) {
        
                            }
                            @media (min-width: 576px) and (max-width: 767.98px) {
                                font-size: 1rem;
                            }
                            
                            @media (min-width: 768px) and (max-width: 991.98px) {
                                font-size: 1rem;
                            }
                        }
                    }
                }
                .store{
                    @include flexCenter;
                    justify-content: flex-start;
                    a, button{
                        background-color: var(--fc5);
                        color: var(--fc3);
                        padding: .5rem .8rem;
                        border: none;
                        border-radius: .5rem;
                        text-transform: uppercase;
                        @media (max-width: 575.98px) {
                            font-size: 1rem;
                        }
                        @media (min-width: 576px) and (max-width: 767.98px) {
                            font-size: 1rem;
                        }
                        @media (min-width: 768px) and (max-width: 991.98px) {
                            font-size: 1rem;
                        }
                        @media (min-width: 992px) and (max-width: 1299.98px) {
                            font-size: 1.125rem;
                        }
                    }
                }
                .label, .traffic, .price{
                    @media (max-width: 575.98px) {
                        display: none;
                    }
                }
                .inserted{
                    .label, .traffic, .price, .store{
                        @media (max-width: 575.98px) {
                            display: block;
                            padding: 0 0.4rem;
                            text-align: right;
                        }
                    }
                    .price{
                        p{
                            span{
                                @media (max-width: 575.98px) {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* collection form */
.content-form{
    background-color: var(--fc3);
    padding: 2rem;
}