.feature {
    background-color: var(--fc2);
    .features {
        padding-top: 10rem;
        .features-inner {
            @include flexCenter;
            @media (max-width: 575.98px) {
                flex-direction: column;
            }
            img {
                width: 27rem;
                height: 40rem;
                @media (max-width: 575.98px) {
                    width: 100%;
                    height: auto;
                }
            }
            .text {
                margin-left: -6.5rem;
                z-index: 10;
                @media (max-width: 575.98px) {
                    margin: 0;
                    text-align: left;
                    margin-top: 5rem;
                }
                h2{
                    text-transform: uppercase;
                    color: var(--fc5);
                    font-weight: 600;
                    word-spacing: 0.5rem;
                }
                .text-inner {
                    position: relative;
                    margin: 5rem 0 0 14rem;
                    @media (max-width: 575.98px) {
                        margin: 2.5rem 0;
                    }
                    @media (min-width: 576px) and (max-width: 767.98px) {
                        margin: 5rem 0 0 13rem;
                    }
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        margin: 5rem 0 0 13rem;
                    }
                    p{
                        color: var(--fc1);
                    }
                    &:before {
                        content: " ";
                        position: absolute;
                        top: .8rem;
                        left: -3rem;
                        width: 2px;
                        height: 100%;
                        background: linear-gradient(to top, transparent, var(--fc4));
                        @media (max-width: 575.98px) {
                            display: none;
                        }
                    }
                }
            }
        }
        &:nth-child(even){
            padding-bottom: 10rem;
            .text{
                margin-left: inherit;
                margin-right: -6.5rem;
                text-align: right;
                @media (max-width: 575.98px) {
                    margin: 0;
                    text-align: left;
                    margin-top: 5rem;
                    order: 2;
                }
                .text-inner{
                    margin: 5.5rem 14rem 0 0;
                    @media (max-width: 575.98px) {
                        margin: 2.5rem 0;
                    }
                    @media (min-width: 576px) and (max-width: 767.98px) {
                        margin: 5.5rem 13rem 0 0;
                    }
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        margin: 5.5rem 13rem 0 0;
                    }
                    &:before{
                        left: inherit;
                        right: -3rem;
                    }
                }
            }
        }
    }
}

// .features:nth-child(even) .features-inner {
//     padding-bottom: 10rem;
// }

// .features:nth-child(even) .text{
//     margin-left: inherit;
//     margin-right: -6.5rem;
//     text-align: right;
// }

// .features:nth-child(even) .text-inner{
//     margin: 5.5rem 19rem 0 0;
// }

// .features:nth-child(even) .text-inner:before{
//     left: inherit;
//     right: -3rem;
// }