.banner {
    min-height: 62rem;
    background-image: linear-gradient(to right bottom, rgba(14, 23, 21, 1), rgba(210, 180, 140, 0)), url(../img/cover.jpg);
    background-size: cover;
    background-position: top;
    @include flexCenter;
    position: relative;
    .text {
        text-align: center;
        h1 {
            font-size: 6rem;
            line-height: 7rem;
            font-weight: 600;
            @media (max-width: 575.98px) {
                font-size: 2rem;
                line-height: 3rem;
            }
            
            @media (min-width: 576px) and (max-width: 767.98px) {
                font-size: 4rem;
                line-height: 5rem;
            }
            
            @media (min-width: 768px) and (max-width: 991.98px) {
                font-size: 4rem;
                line-height: 5rem;
            }
        }
        p{
            @media (max-width: 575.98px) {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}



