.showcase {
    color: #000;
    background-color: var(--fc3);
    .showcase-inner {
        padding: 10rem 0;
        text-align: center;
        h2{
            text-transform: uppercase;
            margin-bottom: 5rem;
        }
        .items {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5rem;
            overflow: hidden;
        }
        .item1,
        .item2,
        .item3 {
            min-height: 40rem;
            width: 30rem;
            object-fit: cover;
            padding: 2rem;
            transform: rotate(22deg);
            @media (max-width: 575.98px) {
                width: 12rem;
            }
            
            @media (min-width: 576px) and (max-width: 767.98px) {
                width: 20rem;
            }
            
            @media (min-width: 768px) and (max-width: 991.98px) {
                width: 20rem;
            }
        }
    }
}




