.intro {
    background-color: var(--fc5);
    position: relative;
    .intro-inner {
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding-top: 1rem;
        @media (max-width: 575.98px) {
            grid-gap: 0;
            gap: 0; 
            grid-template-columns: 1fr;
        }
        .text{
            margin-bottom: 5rem;
            h3 {
                font-size: 1.5rem;
                text-transform: uppercase;
                line-height: 2rem;
                @media (max-width: 575.98px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
    &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to left, transparent, var(--fc4), transparent)
    }
}
